@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAppReceitas.Models.RegistraUsuarioModel
@{
}
<div class="container signup-form">

    <form asp-action="Registrar" asp-controller="LoginUsuario" method="post">
        <h2>Registrar</h2>
        <p>Digite seus dados para fazer-mos seu cadastro!</p>
        <hr>
        <div class="form-group">
            <input type="text" asp-for="@Model.Nome" class="form-control" placeholder="Nome" required="required">
        </div>

        <div class="form-group">
            <input type="text" asp-for="@Model.Cidade" class="form-control" placeholder="Cidade">
        </div>

        <div class="form-group">
            <input type="text" asp-for="@Model.Estado" class="form-control" placeholder="Estado" required="required">
        </div>

        <div class="form-group">
            <input type="date" asp-for="@Model.Data_Nascimento" class="form-control" placeholder="Data de nascimento" required="required">
        </div>

        <div class="form-group">
            <input type="email" asp-for="@Model.Email" class="form-control" placeholder="Email" required="required">
        </div>

        <div class="form-group">
            <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Senha" required="required">
        </div>

        <div class="form-group">
            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirme a Senha" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
        </div>
    </form>
    <div class="hint-text"><p>Tem uma conta? <a asp-action="Login" asp-controller="LoginUsuario">Clique aqui</a> </p></div>
</div>
